<style type="text/css">
	#div1{
		background-color: red;
	}
#div2{
		background-color: yellow;
	}
	#div3{
		background-color: green;
	}
	#div4{
		background-color: purple;
	}
</style>


*{
	margin: 0;
	padding:0;
	border:0;
}

CSS:#div4 {position: static;}

div1{position: relative;
}

<style type="text/css">
		h2{
			color: blue;
		}

		#Ijoined{
			Color: red;
		}

	</style>